[MASTER]
disable=all

[MESSAGES CONTROL]
disable=all

[REPORTS]
disable=all

[BASIC]
disable=all

[FORMAT]
disable=all

[SIMILARITIES]
disable=all

[MISCELLANEOUS]
disable=all

[TYPECHECK]
disable=all

[VARIABLES]
disable=all

[CLASSES]
disable=all

[DESIGN]
disable=all

[IMPORTS]
disable=all

[EXCEPTIONS]
disable=all


